In [9]:
import os
import sys
from pathlib import Path
from pprint import pprint

path_to_analysis = Path(os.getcwd()).parent / 'Analysis'
sys.path.append(str(path_to_analysis))

from dataPrep import CrossValidatedModels

#### CrossValidatedModels-Klasseninstanz mit Instanz der FeaturedData-Klasse als Attribute erstellen

In [10]:
cross_val = CrossValidatedModels()

Pfad zur CSV-Datei: sickness_table.csv erstellt.
Daten bereinigt und in DataFrame umgewandelt.
Daten transformiert
Features hinzugefügt

#### Überprüfe welche Features für die Kreuzvalidierung verwendet werden

In [19]:
cross_val.cls_featured_data.df_only_features.head()

   month  dayofmonth  weekday  weekofyear  dayofyear  season
0      4           1        4          13         92       2
1      4           2        5          13         93       2
2      4           3        6          13         94       2
3      4           4        0          14         95       2
4      4           5        1          14         96       2

#### Modelle bzw. Verfahren zu vergleichen

In [12]:
cross_val.model_names

['RandomForestRegressor', 'AdaBoostRegressor', 'GradientBoostingRegressor']

#### Paramater für die Kreuzvalidierung

In [13]:
cross_val.dict_params

{'rf': {'n_estimators': 100, 'max_depth': 5, 'random_state': 42},
 'adabr': {'n_estimators': 100, 'learning_rate': 1, 'random_state': 42},
 'gradb': {'n_estimators': 100, 'learning_rate': 1, 'random_state': 42}}

#### Performanz-Bewertungskreterien, die verwendet werden sollten

In [14]:
cross_val.scoring

['neg_mean_squared_error',
 'neg_root_mean_squared_error',
 'neg_mean_absolute_error',
 'r2']

#### Form der Time-Series-Split

In [15]:
cross_val.tss

TimeSeriesSplit(gap=15, max_train_size=None, n_splits=7, test_size=32)

#### Performanz der jeweiligen Verfahren

In [20]:
cross_val.df_model_performance

,RandomForestRegressor_mean,RandomForestRegressor_std,AdaBoostRegressor_mean,AdaBoostRegressor_std,GradientBoostingRegressor_mean,GradientBoostingRegressor_std
mse,955753.48,98466.28,972984.06,165525.39,1487324.51,180566.49
rmse,976.35,50.04,983.04,81.30,1217.24,75.14
mae,829.53,59.78,837.58,89.10,975.48,72.34
r2,0.15,0.11,0.14,0.13,-0.34,0.25

In [21]:
cross_val.cls_featured_data.not_used_kwargs

{}